*.hi
*.o
*.pdf
*.a
coding-style-reports.log
.DS_Store
a.out
*.xml
.idea/
*.zip

test/
*dSYM*
Main*
IObject.hpp
*.gcno
*.gcda
unit_tests
.*
*.html

B-OOP-400_nanotekspice.pdf
B-OOP-400_nanotekspice_bootstrap.pdf
B-OOP-400_nanotekspice/
cmake-build-debug/
build/
test_files

CMakeCache.txt

cmake_install.cmake

CMakeFiles/

Makefile

nanotekspice
